<div class="panel panel-primary">
    <div class="panel-heading" ng-click="collapse()">
        {{user.name}}
    </div>
    <div class="panel-body" ng-hide="{{collapsed}}">
        <div ng-show='!!user.address'>
            <h4>Address:</h4>
            {{user.address.city}}
        </div>

        <br>

        <h4>Friends:</h4>
        <ul>
            <li ng-repeat='f in user.friends'>
                {{f}}
            </li>
        </ul>

        <div ng-show="!!user.rank">
            Rank: {{user.rank}}
        </div>
        <button ng-show="!user.rank" class="btn btn-success"  ng-click="callMe(user)">Call</button>
    </div>

</div>
