<!--start content-->
<div id="content">
	<div class="box" id="post-6">
		<div class="boxtitle">
			<h2><a href="http://www.greatwallhs.ca/" rel="bookmark" title="Permanent Link to Home">Home</a></h2>
		</div>
		<div class="cover">
			<div class="entry">
				<p>
					<div class="show"><img class="aligncenter size-full wp-image-212" title="home1" src="images/uploads/2011/03/home1.jpg" alt="" width="662" height="312" /></div>
					<p>Welcome to the site of Great wall Home Services. We provide cost-effective pure energy solutions for residential and commercial customers. We specialists in residential and commercial heating and cooling, plumbing and renovation projects.</p>
					<p>Our intention is to help our customers save money while contributing to a healthy environment and positive benefits for everyone. We take pride in providing top-quality products, service, and technicians in Kitchener, Waterloo, Cambridge and Guelph
						area.</p>
					<p>Our contact information can be found at the bottom of each page, so please don’t hesitate to give us a call.</p>
					<p>We are proud to be an HRAI member, and we offer industry-leading products by Rheem, Ruud, Payne, Keeprite and Goodman.</p>
					<p>We offer plumbing products by Sterling, Kohler, Moen and Mansfield.</p>
					<div class="show" style="float: left;">
						<img class="size-full" title="energy_guide" src="images/uploads/2011/03/furance.jpg" />
					</div>
					<div class="show">
						<img class="size-full" title="energy_guide" src="images/uploads/2011/03/cooling.jpg" />
					</div>
				</p>
			</div>
		</div>
	</div>

</div>
<!--end of content-->
