<!--start content-->
<div id="content">
	<h2>GREATWALL HOME SERVICES SERVES KITCHENER, WATERLOO, CAMBRIDGE, GUELPH</h2>

	<h3>Specialties, Brands, Products & Services of Greatwall Home Services</h3>


	<h4>Plumbing Specialties</h4>
	<p>
		Blocked Sewer, Drain cleaning, Faucet repair, Faucet replacement, Toilet repair, Toilet replacement, Waterline leaks, Drain leaks,  Water softeners, Water treatment/reverse osmosis, Dishwasher installations.
	</p>
	<h4>Brands Offered</h4>
	<p>Moen, Mirolin, Mansfield,  Krohler,  Kindred, Rehau, Nova, Greenway, Can Save Cabinetry</p>
	<h4>Products Offered</h4>
	Faucets, Tubs & Showers, Toilets, Water Softeners, R.O.drinking water system, Hot Water Heaters, Kitchen Sinks, Pex pipe, Vanities
	<h4>Services Offered</h4>
	Blocked Sewer, Drain cleaning, Faucet repair/replacement, Toilet repair/replacement, Waterline leaks, Drain leaks, Hot water heaters, Water softeners, Water treatment /reverse osmosis, Dishwasher installations.


<tabset>
  <tab heading="Moen">
    	<div id="tabcontent">
		<div id="inner">
			<p>
				<div style="float: left;">
					<img class="size-full wp-image-37" title="moen-logo" src="images/uploads/2011/03/moen-logo.jpg" alt="" width="174" height="45" />
				</div>
				Timeless designs, styles unlike anything else, faucets and fixtures that  are livable and enduring, these are just some of the reasons that Moen  is the number one brand of faucet in North America. But, Moen does more  than make faucets. It's also a major supplier of stylish kitchen sinks  and innovative bath accessories.
				<p>
				<h2>Medora</h2>
				The MedoraTM  faucet's stunning design is matched only by its efficient functionality.  Combining the best of all worlds with easy-to-use pullout functionality and a striking design, Medora creates a one-of-a-kind visual impact in  the kitchen.
				<div style="float: right;">
					<img title="medora" src="images/uploads/2011/03/medora.jpg" alt="Medora" height="200"/>
				</div>
				<p>
				<ul>
					<li>chrome finish</li>
					<li>high-arc spout provides more clearance</li>
					<li>pulldown</li>
					<li>one-handle lever design for ease of use</li>
					<li>aerated stream; powerful rinse; patented pause function</li>
					<li>conventional deck mount design</li>
					<li>ADA compliant</li>
					<li>limited lifetime warranty</li>
				</ul>
				<p>
				<h2>Extensa</h2>
				<div style="float: right;">
					<img class="alignleft" title="medora" src="images/uploads/2011/03/extensa.jpg" alt="Extensa" width="200" height="200" />
				</div>
				<ul>
					<li>chrome finish</li>
					<li>low-arc spout design for conventional styling</li>
					<li>pullout spout</li>
					<li>one-handle lever design for ease of use</li>
					<li>powerful rinse; aerated stream</li>
					<li>conventional deck mount design</li>
					<li>ADA compliant</li>
					<li>limited lifetime warranty</li>
				</ul>
				<div class="left"><a title="Moen web site" href="http://www.moen.com/" target="_blank">more information about moen &gt;&gt; </a>
				</div>
			</div>
		</div>

	</div>
  </tab>
  <tab heading="Mansfield">
    Just another tab!
  </tab>
</tabset>





</div>

					<!--end of content-->
